:root {
  --primary: rgb(58, 203, 222);
  --bg: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #010101;
  min-height: 100vh;
  overflow-x: hidden;
}

/* navbar start */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 7%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1000;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.navbar:hover {
  transform: translateY(3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
}

.navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navbar .navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar .navbar-nav a {
  color: rgb(255, 255, 255);
  margin: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

/* Logo Navbar */
.navbar .navbar-logo {
  display: flex;
  align-items: center;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

#menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

/* Perbaikan untuk menghindari konten tertutup navbar */
main {
  padding-top: 80px; /* Atur sesuai dengan tinggi navbar */
}
