:root {
    --primary: rgb(58, 203, 222);
    --bg: rgb(255, 255, 255);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: #010101;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  /* navbar start */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 7%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1000;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
  
  .navbar:hover {
    transform: translateY(3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
  }
  
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
  }
  
  .navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .navbar .navbar-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .navbar .navbar-nav a {
    color: rgb(255, 255, 255);
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s;
  }
  
  /* Logo Navbar */
  .navbar .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar .navbar-nav a:hover {
    color: var(--primary);
  }
  
  #menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }
  .hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center; /* Vertikal center */
    background-image: url("../img/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .hero .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Biar teks tetap rata kiri */
    padding: 1.4rem 7%;
    max-width: 100%;
  }
  
  .hero .content h1 {
    font-size: 3em;
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
  }
  
  .hero .content h1 span {
    color: var(--primary);
  }
  
  .hero .content p {
    font-size: 1.2rem;
    text-align: left;
    color: #fff;
    margin-top: 0.5rem;
    line-height: 1.4;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  }
  
  .hero .content .cta {
    margin-top: 0.5rem;
    display: inline-block;
    padding: 0.6rem 4rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px rgba(1, 1, 3, 0.5);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  
  .hero .content .cta:hover {
    background-color: rgb(237, 87, 0);
    transform: scale(1.05);
  }
  
  .hero .content .cta::after {
    content: "";
    display: block;
    transform: scaleX(0);
    transition: transform 0.2s linear;
  }
  
  .hero .content .cta:hover::after {
    transform: scaleX(1);
  }
  
  /* About Section */
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../img/about.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: max-height 0.3s ease;
    position: relative;
  }
  
  .about::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgb(255, 255, 255) 8%,
      rgba(255, 255, 255, 0) 50%
    );
  }
  
  .about .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
    margin-left: auto; /* Menggeser konten ke kanan */
    position: relative;
    z-index: 1;
  }
  
  .about .content h2 {
    font-size: 3em;
    color: #fff;
    text-align: right;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
  }
  
  .about .content p {
    font-size: 1.2rem;
    color: #fff;
    text-align: justify;
    margin-top: 0.5rem;
    line-height: 1.4;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  }
  .about .content p span {
    font-weight: bold;
    color: rgb(255, 113, 31);
  }
  
  .table-container {
    overflow-x: auto;
    margin-top: 20px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
  }
  
  .section-title {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #010101;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  }
  
  .section-title span {
    color: rgb(255, 113, 31);
  }
  
  .sales-table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Poppins", sans-serif;
  }
  
  .sales-table thead {
    background-color: rgb(255, 113, 31);
    color: white;
  }
  
  .sales-table th,
  .sales-table td {
    padding: 12px 15px;
    color: #010101;s
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .status.tersedia {
    background-color: rgb(86, 175, 59);
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.85em;
    color: white;
  }
  
  .btn-detail {
    padding: 6px 10px;
    background-color: #3498db;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.9em;
  }
  
  .footer {
    background-color: #010101;
    color: #fff;
    margin-top: 20px;
    padding: 1rem;
    text-align: center;
  }
  
  /* Media Queries */
  @media (max-width: 1366px) {
    html {
      font-size: 75%;
    }
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 62.5%;
    }
  
    #menu {
      display: inline-block;
    }
  
    .navbar .navbar-nav {
      position: fixed;
      top: 0;
      right: -100%;
      width: 30rem;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 2rem;
      transition: right 0.3s ease-in-out;
      z-index: 10000;
    }
  
    .navbar .navbar-nav.active {
      right: 0;
    }
  
    .navbar .navbar-nav a {
      color: #fff;
      font-size: 1.7rem;
      font-weight: 300;
      width: 100%;
      text-align: left;
      padding: 1rem 0;
    }
  
    .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.2);
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  }
  